<p id="notice"><%= notice %></p>
<% render 'error_messages' %>
<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<!-- <ul>
<% @reports.each do |report| %>
  <li>
    <%= link_to report.title, report_path(story) %>

    </li>
  <% end %>

</ul> -->

<!-- <%= link_to 'Submit New Link', new_report_path %> -->

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', user_path %>